html{
	height: 100%;
}
 
*{
	margin: 0;
	padding: 0;
}

body{
	font: normal .80em Proxima Nova;
	background: white;
	color: black;
}

p{
	font-size: 21px;
	font-family: Proxima Nova;
}

h1{
	font-size: 20px;
	font-family: Proxima Nova;
}

h2{
	padding-bottom: 10px;
	font-size: 30px;
	font-family: Proxima Nova;
	text-align: center;
	color: fuchsia;
}
h3{
	font-size: 40px;
	font-family: Proxima Nova;
	text-align: center;
	color: white;
}

#main{
	margin: 5px auto;
	width:auto;
	height: 670px;
	padding-bottom: 30px;
}

#body{
	margin-left: 10px;	
	color: #000000;
	font-family: "New York";
	font: normal 100% Proxima Nova;;
	
}

#body p{
	margin-left: 20px;
	color: #000000;
	line-height: 1.5em;
	size: auto;
}

#body ul li{
	margin-right: 5px;
	color: #000000;
}

a{
	font-size: 21px;
	font-family: Proxima Nova;
}

a:hover{
	outline: none;
}
a:hover{
	text-decoration: none;
	color: pink;
}

ul{
	margin: 2px 0px 22px 17px;
}

ul li{
	list-style-type: disc;
	margin: 0 0 6px 0;
	padding: 0 0 4px 5px;
	line-height: 1.5em;
}


#main, nav{
	margin-left: auto;
	margin-right: auto;
}

nav{
	display: block;
	height: 80px;
	width: 100%;
	float: right;
	margin: -20px auto 20px auto;
	color: #222;
	background: #333;
	box-shadow: rbga(0, 0, 0, 0.2)0px 2px 2px;
	border: 1px solid #222;
}

ul.menu
{ margin:0;}

ul.menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 10px 0 0 0;  /* to adjust the height of the text in menubar*/
  display: inline;
  background: transparent;}

ul.menu li a
{ float: left;
  font: normal 120% Proxima Nova;;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 0px -1px 0px #000;
  padding: 6px 20px 0 20px;
  background: transparent; 
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  } 
  


ul.slideshow {
  list-style: none;
  width: 680px;
  height: 350px;
  overflow: hidden;
  position: relative;
  margin: 0;
  margin-top: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
  
ul.menu, ul.menu *{
	margin-left: 5px;
	padding:0 ;	
}

ul.menu{
	display: block;
	position: relative;
}

ul.menu li { 
  display: block;
  list-style: none;
  float: left;
  padding-top: 0px;
  position: relative;
}
  
ul.menu li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.menu a { 
  display: block;
  position: relative;
}
  
ul.menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
  
ul.menu ul a { 
  zoom: 1; /* IE6/7 fix */ 
}

ul.menu ul li { 
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
}
  
ul.menu ul ul { 
  top: 0;
  margin: 0 0 0 200px;
}

ul#nav {
	float: left;
}

ul#nav ul { 
  background: #333;
  margin-top: 50px;/* size of the dropdown box*/
  padding-bottom: 15px;
}

ul#nav li a { 
  padding: 7px 25px 6px 25px;
  font: 140% 'News Cycle', Proxima Nova;, Proxima Nova;;
  text-decoration: none;
  color: white;  /* the color of the text in menu*/
  margin-right: 2px;
}
ul#nav .current a{
	color: #09BCE8;
}


ul#nav li a:hover, ul#nav li a:focus, ul#nav li.selected a, ul#nav li.selected a:hover, ul#nav li.selected a:focus { 
  color: #09BCE8;
  text-shadow: none;
}

ul#nav ul li a { 
  color: #FFF;
}

ul#nav ul li a:hover { 
  color: #09BCE8;
  margin-right: 2px;
}


ul.menu li:hover ul,ul.menu li:focus ul,ul.menu li.sf-hover ul, 
ul.menu ul li:hover ul,ul.menu ul li:focus ul,ul.menu ul li.sf-hover ul,
ul.menu ul ul li:hover ul,ul.menu ul ul li:focus ul,ul.menu ul ul li.sf-hover ul,
ul.menu ul ul ul li:hover ul,ul.menu ul ul ul li:focus ul,ul.menu ul ul ul li.sf-hover ul { 
  left: auto;
}
  
ul.menu li:hover ul ul,ul.menu li:focus ul ul,ul.menu li.sf-hover ul ul,
ul.menu ul li:hover ul ul,ul.menu ul li:focus ul ul,ul.menu ul li.sf-hover ul ul,
ul.menu ul ul li:hover ul ul,ul.menu ul ul li:focus ul ul,ul.menu ul ul li.sf-hover ul ul,
ul.menu ul ul ul li:hover ul ul,ul.menu ul ul ul li:focus ul ul,ul.menu ul ul ul li.sf-hover ul ul { 
  left: -999999px;
}
.nav { 

  height: 44px;
  width: 940px;
  float: right;
  margin: -20px auto 0 auto;
  color: #222;
  background: blue; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#fff, #ddd);
  background: -o-linear-gradient(#fff, #ddd);
  background: -webkit-linear-gradient(#fff, #ddd);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border: 1px solid #eee;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
} 

a, a:hover
{ 
color: pink;
text-decoration: none;
}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 17px;
  }

ul li{
	list-style-type: circle;
	margin: 0 0 6px 0;
	padding: 0 0 4px 5px;
	line-height: 1.5em;
}

#login{
	width: 700px;
	height: 400px;
	float: right;
	padding-top: 20px;
	/*border-style: dotted;
	border-color: #333;
	
*/}

input{
	border-style: solid;
	
}

#footer{
	margin-top: auto;
	color: gray;
}

#slideshow-caption {
  width: 600px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px; 
  background: transparent url(../images/transparent.png) repeat;  
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% fantasy;
  color: #FFF;}


 #middle{
 	padding-top: 100px;
 	
 
 }
  
  #desc{
  	float: left;
  	width: 500px;
 
  }
  
  #signup{
  	margin-top: 167px;
	width: 430px;
	height: 400px;
	margin-left: 830px;
	background: url(../images/glass3.jpg);
	
}

 
#t1{
 	padding-left: 10px;
 	width: 400px;
 	height: 400px;
 	font-size: 20px;
 }
 
 label{
 	font-size: 20px;
 	font-family: Proxima Nova;
 }
 
 #image{
 	margin-left: 50px;
 	margin-top: 3px;
 	width: 500;
 }
 
 #img{
 	width: 50px;
 	height: 50px;
 }
 
  #adminsignup{
  	margin-top: 100px;
	width: 400px;
	height: 400px;
	padding-top: 10px;
	padding-left: 10px;
	margin-left: 850px;
	background: url(../images/bg.jpg);
	
}

.right{
	margin;
	
}

#changeName{
  	margin-top: 167px;
	width: 400px;
	height: 400px;
	margin-left: 400px;
	
}
#changeSetting{
 	width: 85px;
 	height: 36px;
 	border-color: white;
 	background: url("../images/tb1.jpg");
 }
 
 #change{
	outline: none;
	text-decoration: none;
}

#actImg{
	margin-left: 280px;
}
td,th{
	font-size: 20px;
}

input:focus{
background-color:pink;
}
td{
text-align: center;
}

.timetable{
background: url("../images/tt.jpg");
}

input[type=submit] {
	width: 60px;
	height: 30px;
}